 *{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
  }

    body{
          background-color: #ffffff;
          font-family: Gilroy,sans-serif;
          font-weight: 500;
          color:#000000;
    }

/* ------------Navbar Start---------------------------------------------------------------------------- */

     #navbar {
        padding-top: 15px;
        background-color: #ffffff;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        font-size: 14px;
        /* position: fixed; */
        width: 100%;
        height: 73px;
        /* top: 0;
        z-index: 1000; */
       
    }
    #menubar {
                /* border: 1px solid red; */
                width: 55%;
                display: flex;
                justify-content: space-between;
                margin: auto;
    }
    #menubar>div {
            gap: 30px;
            display: flex;
            justify-content: space-between;
    }
    .options {
        border: 0px solid black;
        font-size: 14px;
    }
    .icons {
        font-size: 20px;
    }
    .iconText {
        font-size: 12px;
    }
    #menuLeft>div>a>img {
                    padding-top: 5px;
                    width: 120px;
                    height: 90%
    }
    #menuRight>div {
        text-align: center;
    }
    .menuTop {
        padding-top: 10px;
    }
    .hover>a {
        color: black;
              text-decoration: none;
    }
    .hover>a:hover {
        color: rgb(0, 179, 122);
    }
    .hover:hover {
              color: rgb(0, 179, 122);
    }
  

/* ---Navbar End------------------------------------------------------------------------------------------- */


       /* box below Navbar  */

        /* header section */

      #home{
            /* border: 1px solid black; */
            width: 100%;
            height: 50px;
            background-color: #f7fdfa;
            padding-top: 32px;
            padding-bottom: 32px;
            /* margin-top: 75px; */
        
    }

    .home-inside{
                /* border: 1px solid rgb(67, 235, 25); */
                height: 16px;
                margin-top: 8px ;
    }

    .home-div{
                /* border: 1px solid rgb(39, 25, 235); */
                display: flex;
                justify-content: space-evenly;
                width: 20%;
                margin-left: 410px;   
                font-size: 12px;    
    }

    .green{
           color: #00b37a;
    }

    .gray{
          color: #7e888b;
        
    }

    .home-div > a{
                 text-decoration: none;
                    
    }

 /* ------------------------------------------------------------------------------------------------------------------------------------ */
 
     
    #headingg{
            border-bottom: 1px solid rgb(233, 212, 212);
            display: flex;
            background-color: #f7fdfa;
            padding-top: 25px;
            padding-bottom: 25px;
            /* border: 1px solid red; */
            position: sticky;
            top: 0;
            z-index: 2;
    }

    #fruits-image{
                margin-left: 420px;
                width: 141px;
                height: 145px;
    }

    #fruits-image >  img{
                width: 100%; 
                height: 100%;
                border-bottom-left-radius: 16px;
                border-bottom-right-radius: 16px;
                border-top-left-radius: 16px;
                border-top-right-radius: 16px;      

    }

    #text-div{
                margin-left: 24px;
    }

    #text-div > p{
                font-size: 14px;
                font-weight: 540;
                color: rgb(159, 161, 168);
                margin-top: 15px;
                
    }

/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

     /* search box */

     #search{
            height: 60px;
            width:50%;
            margin-left: 250px;
            margin-bottom: 15px;
            margin-top: 5px;
            /* border: 1px solid red; */
        }

    #search > input{
                
                border: 1px solid darkgray;
                width:50%;
                height: 50px;
                border-radius: 5px;
                margin-top: 10px;
                margin-left: 330px;
                position: relative;
                background-color: white;
                font-size: 16px;
                font-weight: 500;
                text-align: center;
                z-index: 0; 
                color: #dee3ef;
        }

     #search > img{
                    height:21px;
                    position: absolute;
                    margin-left:350px;
                    margin-top: 25px;
                    z-index: 1;
        }

/* ------------------------------------------------------------------------------------------------------------------ */

    /*-------------------------------------- Products of each shop------------------------------------ */
    
    #products{
            display: flex;
            flex-direction: row;
            width:100%;
            background-color: #fff;
            border-top: 1px solid rgb(233, 212, 212);
            /* border: 1px solid red; */
          }
            
    #products1,#products2,#products3{
                                      height: 100%;
                                      /* border: 1px solid red; */
                                      
        }

    /*------------------------------ Product part -1 -------------------------------*/
        
        #products>#products1{
                            width:24%;
                            display: flex;
                            /* overflow: scroll; */
                            flex-direction: column;
                            padding-top: 30px;
                            /* overflow-x: hidden; */
                             margin-left: 100px;
                            position: sticky;
                            top: 200px; 
                            /* border: 1px solid rgb(64, 0, 255); */
        }
        
        #products1 > button{
                            text-align: right;
                            height: 45px;
                            font-size: 14px;
                            color: grey;
                            background-color: #fff;
                            border: none;
                            /* border: 1px solid red; */

    
        }
        
        #products1 > button:hover{
                                 cursor: pointer;
        }

  /* ---------------------------------------------Products part -2 -----------------------*/
        
        #products>#products2{
                            width: 29%;
                            display: flex;
                            flex-direction: column;
                            /* overflow: scroll; */
                            overflow-x: hidden;
                            border-left: 1px solid rgb(233, 212, 212);
                            border-right: 1px solid rgb(233, 212, 212);
                            margin-left: 5px;              
        }
                #bar{
                          height:10px;
                          width:5px;
                          background-color: chartreuse;
                        
        }
        
  /* --------------------------------------Products part2 shop products -------------------------*/
        

      #products2 > #heading{
                            height:68px;
                            padding-left: 24px;
                            padding-top: 18px;
                            padding-bottom: 18px;
                            font-size: 24px;
                            font-weight: 600;
                            background-color: rgb(243, 243, 245);
                            /* border: 1px solid red; */
     }
    
     #h2{
         /* border: 1px solid red; */
         height: 36px;
         line-height: 24px;
         color: #333949;
         font-size: 20px;
         font-weight: 600;
         padding-left: 24px;
         padding-right: 24px;
         padding-top: 12px;
     }
        
        #divs{
                display: flex;
                flex-direction: row;
                width:100%;
                height:150px;
                align-items: center;
                line-height: 20px;
                cursor: pointer;
                /* border: 1px solid red; */
              }

       #divs > img{
                    height: 72px;
                    width: 72px;
                    /* border: 1px solid red; */
                    margin-left: 35px;
        }

        #details{
                width:290px;
                height:80px;
                display: flex;
                margin-left: 15px;
                padding-top: 5px;
                flex-direction: column;
                /* border: 1px solid red; */
    }
        
        #divs > button{
                        width: 100px;
                        height: 35px;
                        border-radius: 55px;
                        padding: 5px;
                        color: #65d1af;
                        font-weight: 700;
                        font-size: 15px;
                        border: 1px solid #e7e8eb;
                        background-color: white;
                        cursor: pointer;
        }
        
      
        
        .quantity{
                    font-size: 12px;
                    color:grey
        }
        .name{
                font-size: 17px;
                font-weight: 600;
                color:rgb(110, 96, 96);
                /* border: 1px solid red; */
        }
        
 /* ---------------------Products part - 3 ----------------------------------*/
        
   #products > #products3{
                        width: 324px;
                        height: 583px;
                         position: sticky;
                        top: 200px; 
                        /* border: 1px solid red; */
        }
        
     #products3 > p{
                    font-size: 24px;
                    font-weight: 500;
                    color: #171e30;
                    height: 32px;
                    margin-top: 20px;
                    margin-left: 20px;
                    /* border: 1px solid red; */
        }
        
      #products3 > img{
                    width: 200px;
                    height: 160px;
                    margin-left: 16%;
                    margin-top: 65px;
                    /* border: 1px solid red; */
        
        }
        
    #products3 > h4{
                    text-align: center;
                    color:grey;
                    font-weight: 300;
                    /* border: 1px solid red; */
        }

     
        
  .transform{
          box-shadow: 3px 0px 10px 0px lightgray;
        }

 .transformBack{
                box-shadow: 0;
        }
        
        ul {
            list-style: none;
            margin-top: 25px;
            /* border: 1px solid rgb(17, 0, 255); */

        }
        
  ul li::before {
            content: "\2022"; 
            font-weight: bold; 
            display: inline-block;
            width: 1em; 
            color: #008e27;
            margin-left: 15px;
            /* border: 1px solid red; */
        }

    #div1{
          /* background-color: rgb(34, 0, 128); */
          width: 147px;
          height: 20px;
          font-size: 14px;
          font-weight: 600;
          line-height: 20px;
          color: rgb(23 , 30 ,48);     
    }
    #H3{
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
        color: rgb(20 , 30 ,45); 
        /* background-color: rgb(34, 0, 128); */
        
    }
        
        #box{
            height: 30px;
            width: 68px;
            font-weight: 600;
            border-radius: 15px;
            border:1px solid lightgray;
            display: flex;
            margin: auto;
            border: 1px solid #e7e8eb;
            margin-left: 15px;
            /* border: 1px solid red; */
        }
        
        #box button{
                    height: 30px;
                    width: 30px;
                    font-size: large;
                    font-weight: bold;
                    border: none;
                    border-color: inherit;
                    border-radius: 50%;
                    background-color: transparent;
                    color: #31bba1;
                    cursor: pointer;
                    /* border: 1px solid rgb(227, 104, 16); */
        }

        #plus{
            color:green;
            }


        #val{
            margin-top: 5px;
            margin-right: 5%;
            margin-left: 5%;
            font-size: 14px;
            /* color: red; */
            
        }
        
        #box button:hover{
                        cursor: pointer;
                        box-shadow: 1px 1px 1px 1px lightgray;
        }

        #div3{
               width: 45px;
               height: 20px;
               margin-top: 5px;
               font-size: 14px;
               font-weight: 500;
               line-height: 20px;
               text-align: center;
               /* border: 1px solid red; */
               
        }
        .menu{
                color:rgb(0, 179, 122);
                border-right-color: rgb(0, 179, 122);
                border-right: 1px solid black;
                border-width: 4px;
                border: 1px solid red;
        }
        
        #checkout{
                background-color:white;
                height: 80px;
                width: 324px;
                padding: 16px;
                padding-top: 0px;
                bottom: 0%;
                margin-top: 180px;
                /* border: 1px solid red; */
        }
        
        #checkout button{
                        width: 292px;
                        height: 48px;
                        background-color: #00d290;
                        color: white;
                        font-size: 16px;
                        font-weight: 600;
                        border-style: none;
                        border-radius: 40px;
                        cursor: pointer;
                        /* border: 1px solid red;          */
        }

        
        #cart{
             position: relative;
             
        }
        
        #cart > #circle{
                        position: absolute;
                        bottom: 60%;
                        left: 70%;
        }
        
        #circle{
                display: initial;
                width: 20px;
                border-radius: 20px;
                background-color: red;
                position: absolute;
                height: 20px;
                text-align: center;
                color: white;
        }

        .hover > button{
                         background-color: #00d290;
                         border-radius: 30px;
                         width: 90px;
                         height: 35px;
                         color: white;
                         font-weight: 700;
                         margin-top: 5px;
                         border-style: none;
        }







