#footer {
    padding-top: 50px;
    background-color: rgb(23, 30, 48);
    color: white;
    padding-bottom: 60px;
}
.para {
    color: rgb(183, 186, 195);
}
#insideFooter {
    width: 65%;
    margin: auto;
}
#footerLinks {
    padding-top: 60px;
    margin-top: 60px;
    border-top: 1px solid gray;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
#logo>img {
    width: 70px;
}
.links {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.links>a {
    color: white;
    text-decoration: none;
}
.links>a:hover {
    text-decoration: underline;
}
.links>p:hover {
    cursor: default;
}
#scooter>img {
    width: 260px;
}