#content {
    margin-top: 75px;
    background-color: rgb(240,245,247);
    width: 100%;
    height: 662px;
}
#cartEmpty {
    display: none;
    background-color: rgb(240,245,247);
    height: 662px;
    text-align: center;
}
#cartEmpty>img {
    margin-top: 200px;
    width: 100px;
}
.line1 {
    padding-top: 20px;
    font-size: 20px;
    font-weight: 600;
}
.line2 {
    color: rgb(111, 117, 136);
}
.grnbtn {
    margin-top: 30px;
    background-color: rgb(0, 210, 144);
    font-size: 16px;
    font-weight: 600;
    padding: 15px;
    color: white;
    width: 300px;
    border: 1px solid rgb(0, 210, 144);
    border-radius: 30px;
}
#cartItems {
    display: none;
    
    width: 80%;
    margin-left: 300px;
}
#title {
    padding-top: 30px;
    font-weight: bold;
    font-size: x-large;
}
#box {
    margin-top: 20px;
    font-weight: bold;
}
#plus {
    background-color: rgb(240,245,247);
    color: rgb(0, 210, 144);
    font-size: larger;
    font-weight: bold;
    border: 1px solid rgb(240,245,247);
}
#minus {
    background-color: rgb(240,245,247);
    color: rgb(0, 210, 144);
    font-weight: bold;
    border: 1px solid rgb(240,245,247);
    font-size: larger;
}
#checkout {
    display: flex;
    justify-content: center;
}
#checkout>button {
    background-color: rgb(0, 210, 144);
    width: 300px;
    padding: 15px;
    color: white;
    font-weight: bold;
    font-size: large;
    border-radius: 30px;
    border: 1px solid rgb(0, 210, 144);
}