/* Header Start */
body {
    font-family: Gilroy,sans-serif;
}
#navbar {
    padding-top: 15px;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    font-size: 14px;
    position: fixed;
    width: 100%;
    top: 0;
}
#menubar {
    width: 65%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}
#menubar>div {
    gap: 30px;
    display: flex;
    justify-content: space-between;
}
.options {
    border: 0px solid black;
    font-size: 14px;
    cursor: pointer;
}
.icons {
    font-size: 20px;
}
.iconText {
    font-size: 12px;
}
#menuLeft>div>img {
    padding-top: 5px;
    width: 120px;
    cursor: pointer;
}
#menuRight>div {
    text-align: center;
}
.menuTop {
    padding-top: 10px;
}
.hover>a {
    color: black;
    text-decoration: none;
}
.hover>a:hover {
    color: rgb(0, 179, 122);
    cursor: pointer;
}
.hover:hover {
    color: rgb(0, 179, 122);
    cursor: pointer;
}
/* Header End */