body{
    font-family: Gilroy,sans-serif;
    font-weight: 500;
}
#content-head{
box-sizing: border-box;
display: flex;
align-items: flex-start;
width: 100%;
top: 0px;
background: rgb(247, 253, 250);
}
#father{
    height: 250px;
    background: rgb(247, 253, 250);
    
}
#father div{
    margin: auto;
    margin-left: 50px;
    justify-content: center;
  
}
#FishHome{
    display: flex;
    box-sizing: border-box;
    
}
#imghome{
    display: flex;
    box-sizing: border-box;
    margin: auto;
    margin-right: 10px;
}
#imghome img{
    height: 150px;
    width: 150px;
    margin-top: 20px;
}
#datas{
    display: flex;
    gap: 15px;
    color: #808080;
}
#datas i{
  margin-top: 17px;
  color: aquamarine;
}
#datas p:first-child{
    margin-left: -45px;
}
#datas p:last-child{
    color: blueviolet;
}
/* for serch */
#search{
height:100px;
width:100%;
margin-bottom: 15px;
margin-top: 5px;
}
#search>input{
border: 1px solid darkgray;
width:37%;
height: 50px;
border-radius: 5px;
margin-top: 10px;
margin-left: 346px;
position: relative;
background-color: white;
font-size: 17px;
text-align: center;
z-index: 0;
}
#search>img{
height:20px;
position: absolute;
margin-left:370px;
margin-top: 25px;
z-index: 1;
}
/* body */
#products{
display: flex;
flex-direction: row;
width:100%;
background-color: #fff;
}

#products1,#products2,#products3{
height:400px
}
/* priducts1 */

#products>#products1{
width:24%;
display: flex;
overflow: scroll;
flex-direction: column;
padding-top: 50px;
overflow-x: hidden;
}

#products1 > button{
text-align: right;
height: 45px;
font-size: 15px;
color: grey;
background-color: #fff;
border: none;
}

#products1 > button:hover{
cursor: pointer;
}
/* ---------------------------------------------Products part -2 -----------------------*/

#products>#products2{
width:40%;
display: flex;
flex-direction: column;
overflow: scroll;
overflow-x: hidden;
}
#bar{
height:10px;
width:5px;
background-color: chartreuse;
}

/* --------------------------------------Products part2 shop products -------------------------*/

#products2>#heading{
height:60px;
padding-left: 24px;
padding-top: 18px;
font-size: 30px;
font-weight: 400;
background-color: rgb(243, 243, 245);
}

#img{
width:20px;
}

#divs{
display: flex;
flex-direction: row;
width:100%;
height:150px;
align-items: center;
line-height: 20px;
}
#divs>img{
height: 60%;
width:20%;
}

#divs>button{
margin-left: 10px;
color:rgb(0, 179, 122);
border-color: rgb(0, 179, 122);
border:1px solid;
background-color: transparent;
border-radius: 15px;
height:30px;
width:60px;
cursor: pointer;
}

#details{
width:300px;
height:80px;
display: flex;
margin-left: 25px;
padding-top: 5px;
flex-direction: column;
}

.quantity{
font-size: 12px;
color:grey
}
.name{
font-size: 17px;
font-weight: 400;
color:black;
}

/* ---------------------Products part - 3 ----------------------------------*/

#products>#products3{
width:38%;
cursor: pointer;
}

#products3>p{
font-size: 28px;
margin-top: 20px;
margin-left: 10px;
color:grey;
}

#products3>img{
width:300px;
height:300px;
margin-left: 16%;
}

#products3>h4{
text-align: center;
color:grey;
font-weight: 300;
}

.transform{
box-shadow: 3px 0px 10px 0px lightgray;
}
.transformBack{
box-shadow: 0;
}

ul {
list-style: none;
}

ul li::before {
content: "\2022";  

font-weight: bold; 
display: inline-block;
width: 1em; 
margin-left: -1em; 
}

#box{
height: 30px;
width: 100px;
border-radius: 15px;
border:1px solid lightgray;
display: flex;
margin: auto;
}

#box button{
height: 30px;
width: 30px;
font-size: large;
font-weight: bold;
border: none;
border-color: inherit;
border-radius: 50%;
background-color: transparent;
}
#plus{
color:green;
}
#val{
margin-top: 5px;
margin-right: 5%;
margin-left: 5%;
}

#box button:hover{
cursor: pointer;
box-shadow: 1px 1px 1px 1px lightgray;
}
.menu{
color:rgb(0, 179, 122);
border-right-color: rgb(0, 179, 122);
border-right: 1px solid black;
border-width: 4px;
}

#checkout{
background-color:white;
height: 60px;
bottom: 0%;
position: relative;
}

#checkout button{
display: flex;
gap: 70px;
height: 30px;
background-color:rgb(0,210,144);
border-radius: 15px;
font-size: large;
font-weight: bold;
position: absolute;
right: 50%;
top:50%;
}
.checkout{
/* border-color:"rgb(0, 179, 122)"; */
width:200px;
background-color: transparent;
height: 20px;
border-radius: 20px;
}

#cart{
position: relative;
}

#cart > #circle{
position: absolute;
bottom: 60%;
left: 70%;
}

#circle{
display: initial;
width: 20px;
border-radius: 20px;
background-color: red;
position: absolute;
height: 20px;
text-align: center;
color: white;
}
h5{
margin-top: -40px;
text-decoration: solid black;
}